.page{
  background: rgba(255,0,0,0.1);
  width: 100%;
  height: 1500px; 
  position: relative;
}

.title{
  position: absolute;
  z-index: 1;
  left: 200px;
}

.right{
  position: absolute;
  left: 200px;
  display: block;
  top: 175px;
}

.right2{
  position: absolute;
  left: 430px;
  display: block;
  top: 1px;
}

.right3{
  position: absolute;
  left: 625px;
  display: block;
  top: 175px;
}



.heart {
    position: relative;
    width: 100px;
    height: 90px;
  top: 50px;
    left: 50px;
}

.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

/*
BIG HEART 
*/

.heartbig {
    position: relative;
    width: 200px;
    height: 190px;
    top: 20px;
    left: 50px;
}

.heartbig:before,
.heartbig:after {
    position: absolute;
    content: "";
    left: 110px;
    top: 0;
    width: 110px;
    height: 190px;
    background: rgba(255,0,0,0.3);
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heartbig:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}